@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat:ital,wght@0,100;1,100&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comic Neue', cursive;
    overflow-x: hidden;
    background-color: #D47008;
}

.wrapperInicio{
    width: 100vw;
    height: 100vh;
    background-color: #e9a380;
    color: #fff;
}

.wrapperInicio header{
    width: 100vw;
    background-color: #0a0a0a;
    height: 15vh;
    border-bottom: #fff 4px solid;
}

.navbar{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.brand h1{
    margin: 30px 50px;
    color: #F5864E;
}

.brand span{
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.menu a{
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu a:hover{
    color: rgb(252, 204, 116);
    transition: ease-in .4s;
}

.main{
    padding: 40px;
    width: 80vw;
    margin: 0px auto;
    margin-top: 65px;
    height: 70vh;
    position: relative;
    background-color:#B5463C;
    border-style: solid;
    border-radius:20px;
    border-width: 6px;
    border-color: #0a0a0a;
}

.main .contenedor_imagen{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .infoContent{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
    left: 0%;    
    align-items: center;
}

.infoContent h1{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 8%;
}

.infoContent p{
    margin-left: 8%;
}

.infoContent h2{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 8%;
}

.infoContent ul{
    margin-left: 10%;
}


.contenedor_imagen img{
    width: 50%;
    height: 80%;
    border-style: solid;
    border-radius:20px;
    border-width: 6px;
    border-color: #0a0a0a;
    display: inline;
}

.wrapperGaleria{
    width: 100vw;
    height: 100vh;
    position: relative;
    border-top: #000 5px solid;
    border-bottom: #000 5px solid;
}

.encabezado{
    width: 100%;
    height: 10%;
    border-bottom: #000 5px solid;
    color:#fff;
    background-color: #B5463C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado h1{
    text-align: center;
}

.contenedor_imagenes{
    position: absolute;
    left: 0;
    width: 60%;
    height: 90%;
    background-color: #e9a380 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.contenedor_imagenes .galeria{
    width: 80%;
    height: 80%;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    background-color: #fff;
    margin:auto;
}

.galeria img{
    width: 100%;
    height: 100%;
    border-radius:12px;
}

.galeria img:hover{
    opacity: 0.7;
}

.contededor_info{
    position: absolute;
    right: 0;
    width: 40%;
    height: 90%;
    background-color: #D47008;
    border-left: #000 5px solid;
}

.contededor_info .informacion{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion h2{
    margin: 20px;
}

.informacion p{
    margin: 50px;
}

.wrapperGaleria2{
    width: 100vw;
    height: 100vh;
    border-bottom: #000 5px solid;
}

.galeria2{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    background-color: #e9a380;
    border-left: #000 5px solid;
    border-right: #000 5px solid;

}

.ilustraciones2{
    width: 70%;
    height: 70%;
    background-color: #fff;
    margin: auto;
    border: #000 5px solid;
    border-radius: 15px;

}

.ilustraciones2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ilustraciones2 img:hover{
    opacity: 0.7;
}

.wrapperContacto{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #e9a380;
}

.headerContacto{
    background-color:#B5463C;
    width: 100vw;
    height: 10vh;
    border-bottom: #000000 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContacto h2{
    text-align: center;
    color: #fff;
}

.contenidoContacto{
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 10vh;
    text-align: center;
}

.contenidoContacto img{
    width: 15vw;
    margin-top: 20vh;
}

footer{
    background-color: black;
    width: 100%;
    height: 20vh;
    position:absolute;
    bottom: 0px;
}

footer p{
    padding-top: 15px;
    color: aliceblue;
    text-align: center;
}

.imagenFooter{
    text-align: center;
}

.imagenFooter img{
    margin: 1%;
    width: 5%;
}




    
